/* SignUp.css */
body {
    background-image: url('../images/home_background.jpg');
    margin: 0; /* Remove default margin */
}

.signup-container {
    background-color: rgba(9, 30, 45, 0.8); /* Dark background color */
    padding: 10px; /* Decrease padding for a shorter form */
    border-radius: 8px;
    max-width: 400px; /* Increase max-width for a wider form */
    width: 100%; /* Full width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-container h2 {
    color: white;
    margin-bottom: 10px; /* Decrease margin for a shorter heading */
}

.signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-container label {
    color: white;
    margin-bottom: 0.5rem;
}

.signup-container input {
    margin-bottom: 0.5rem; /* Decrease margin for shorter input fields */
    border-radius: 5px;
    padding: 8px; /* Decrease padding for smaller input fields */
    width: 100%; /* Full width */
    background-color: rgba(255, 255, 255, 0.1); /* Transparent background with some opacity */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Slightly transparent border */
    color: white; /* Text color */
}

.signup-container button {
    background-color: rgba(35, 64, 180, 0.5);
    padding: 8px 16px; /* Decrease padding for smaller button */
    border-radius: 5px; /* Less round edges */
    cursor: pointer;
    margin-top: 0.5rem; /* Decrease margin for smaller gap */
    width: 100%; /* Full width */
    border: none; /* Remove default button border */
    font-size: 14px; /* Decrease font size for smaller text */
    color: rgb(253, 253, 253); /* Text color for better visibility */
}

.signup-container button:hover {
    background-color: rgba(13, 0, 52, 0.8); /* Change background on hover for better visual feedback */
}

.signup-container p {
    margin-top: 0.5rem; /* Decrease margin for smaller gap */
    color: white;
}

.signup-container p span {
    color: #0000EE;
    cursor: pointer;
    text-decoration: underline;
}
