body {
    background-image: url('./images/home_background.jpg');
}

.election-data-container {
    background-color: rgba(9,30,45, 0.8); /* Dark background color */
    padding: 20px;
    border-radius: 8px;
}

.pie-chart-container {
    display: flex;
    flex-direction: row; /* Align the legend next to the pie chart */
    justify-content: center;
    align-items: center;
}

.pie-chart {
    margin-right: 40px; /* Space between pie chart and legend */
}

.legend-container {
    display: flex;
    flex-direction: column;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color-box {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
